################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/firstGiraffe/bin
/src/firstGiraffe/obj
/src/firstGiraffe/.vs
/src/firstGiraffe/Properties/PublishProfiles
